# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# VSCode
.vscode/

# Python misc
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db
/extension/node_modules/
node_modules/
extension/node_modules/
node_modules/
